# Maven
target/
*.jar
!/.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Node / Angular
node_modules/
dist/
.angular/

# IDEs
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# Worktrees de Claude Code
.claude/worktrees/
